---
import { requirements } from "@/consts/home/requirements";
---

<main class="enter pt-16" style="animation-delay: .1s;">
  <header class="text-center">
    <h1 class="text-4xl font-semibold tracking-tighter">System Requirements</h1>
  </header>
  <section class="flex flex-col md:flex-row justify-center gap-16 mt-8">
    {
      requirements.map((requirement) => (
        <article class="max-w-xl">
          <div class="space-y-4 md:p-4">
            <header>
              <h2 class="text-2xl font-semibold">{requirement.os}</h2>
            </header>
            <ul class="grid grid-cols-1 lg:grid-cols-2 gap-4">
              <li class="flex flex-col">
                <div class="font-medium">CPU</div>
                <p class="text-gray-600 dark:text-gray-400">
                  {requirement.cpu}
                </p>
              </li>
              <li class="flex flex-col">
                <div class="font-medium">GPU</div>
                <p class="text-gray-600 dark:text-gray-400">
                  {requirement.gpu}
                </p>
              </li>
            </ul>
            <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <li class="flex flex-col">
                <div class="font-medium">RAM</div>
                <p class="text-gray-600 dark:text-gray-400">
                  {requirement.ram}
                </p>
              </li>
              <li class="flex flex-col">
                <div class="font-medium">HDD</div>
                <p class="text-gray-600 dark:text-gray-400">
                  {requirement.hdd}
                </p>
              </li>
            </ul>
          </div>
        </article>
      ))
    }
  </section>
</main>
