---
import { sections, legal } from "@/consts/global/footer";
---

<footer class="space-y-6 md:w-[70%] px-8 py-12 md:py-8 md:px-0 md:mx-auto">
  <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 md:gap-0">
    {
      sections.map((section) => (
        <li class="space-y-2" aria-label={section.title}>
          <header>
            <h2 class="text-xl font-semibold">{section.title}</h2>
          </header>
          <main>
            <ul class="grid grid-cols-1">
              {section.links.map((link) => (
                <li>
                  <a
                    class="text-gray-600 dark:text-gray-400 hover:underline"
                    href={link.url}
                    target="_blank"
                    rel="noreferrer"
                  >
                    {link.text}
                  </a>
                </li>
              ))}
            </ul>
          </main>
        </li>
      ))
    }
  </ul>
  <p class="text-center text-gray-600 dark:text-gray-400">
    Rockstar Games, Inc. (C) 2016-2024, FiveM is a copyright and registered
    trademark of Take-Two Interactive Software, Inc. All rights reserved.
  </p>
  <ul class="flex flex-col md:flex-row justify-center md:items-center gap-4">
    {
      legal.map((link) => (
        <li>
          <a
            href={link.url}
            class="text-gray-500 dark:text-gray-300 hover:text-black dark:hover:text-gray-200 hover:underline font-medium transition-colors"
          >
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
</footer>
