---
import XIcon from "@/assets/icons/brands/X.astro";
import GitHubIcon from "@/assets/icons/brands/GitHub.astro";
import DiscordIcon from "@/assets/icons/brands/Discord.astro";

const sections = [
  {
    title: "Getting Started",
    links: [
      {
        text: "Download",
        url: "https://runtime.fivem.net/client/FiveM.exe",
      },
      {
        text: "Troubleshooting",
        url: "https://docs.fivem.net/docs/support/server-issues/",
      },
      {
        text: "Setting up a server",
        url: "https://docs.fivem.net/docs/server-manual/setting-up-a-server/",
      },
    ],
  },
  {
    title: "Scripting",
    links: [
      {
        text: "Introduction",
        url: "https://docs.fivem.net/docs/scripting-manual/introduction/",
      },
      {
        text: "Native Reference",
        url: "https://docs.fivem.net/natives/",
      },
    ],
  },
  {
    title: "Resources",
    links: [
      {
        text: "Forums",
        url: "https://forum.cfx.re/",
      },
      {
        text: "Servers",
        url: "https://servers.fivem.net/",
      },
      {
        text: "Portal",
        url: "https://portal.cfx.re/",
      },
      {
        text: "Docs",
        url: "https://docs.fivem.net/",
      },
    ],
  },
  {
    title: "Socials",
    links: [
      {
        text: "Discord",
        url: "https://forum.cfx.re/",
      },
      {
        text: "X (Formerly Twitter)",
        url: "https://servers.fivem.net/",
      },
      {
        text: "GitHub",
        url: "https://portal.cfx.re/",
      },
    ],
  },
];

const socials = [
  {
    icon: XIcon,
    url: "https://x.com/fivem/",
  },
  {
    icon: DiscordIcon,
    url: "https://discord.gg/fivem/",
  },
  {
    icon: GitHubIcon,
    url: "https://github.com/citizenfx/fivem/",
  },
];

const legal = [
  {
    name: "Privacy",
    url: "https://www.rockstargames.com/privacy",
  },
  {
    name: "Cookies",
    url: "https://www.rockstargames.com/cookies",
  },
  {
    name: "Do not sell or share my personal information",
    url: "https://www.rockstargames.com/ccpa",
  },
];
---

<footer class="space-y-6 md:w-[70%] px-8 py-12 md:py-8 md:px-0 md:mx-auto">
  <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 md:gap-0">
    {
      sections.map((section) => (
        <li class="space-y-2" aria-label={section.title}>
          <header>
            <h2 class="text-xl font-semibold">{section.title}</h2>
          </header>
          <main>
            <ul class="grid grid-cols-1">
              {section.links.map((link) => (
                <li>
                  <a
                    class="text-gray-600 dark:text-gray-400 hover:underline"
                    href={link.url}
                    target="_blank"
                    rel="noreferrer"
                  >
                    {link.text}
                  </a>
                </li>
              ))}
            </ul>
          </main>
        </li>
      ))
    }
  </ul>
  <p class="text-center text-gray-600 dark:text-gray-400">
    Rockstar Games, Inc. (C) 2016-2024, FiveM is a copyright and registered
    trademark of Take-Two Interactive Software, Inc. All rights reserved.
  </p>
  <ul class="flex flex-col md:flex-row justify-center md:items-center gap-4">
    {
      legal.map((link) => (
        <li>
          <a
            href={link.url}
            class="text-gray-500 dark:text-gray-300 hover:text-black dark:hover:text-gray-200 hover:underline font-medium transition-colors"
          >
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
</footer>
