---
const sections = [
  {
    name: "Socials",
    links: [
      {
        name: "X (Formerly Twitter)",
        url: "https://x.com/fivem",
      },
      {
        name: "GitHub",
        url: "https://github.com/citizenfx/fivem",
      },
    ],
  },
  {
    name: "Links",
    links: [
      {
        name: "Forum",
        url: "https://forum.cfx.re",
      },
      {
        name: "Servers",
        url: "https://servers.cfx.re",
      },
      {
        name: "Docs",
        url: "https://docs.fivem.net",
      },
      {
        name: "Portal",
        url: "https://portal.cfx.re",
      },
    ],
  },
];

const legal = [
  {
    name: "Privacy",
    url: "https://www.rockstargames.com/privacy",
  },
  {
    name: "Cookie Policy",
    url: "https://www.rockstargames.com/cookies",
  },
  {
    name: "Do Not Sell Or Share My Personal Information",
    url: "https://www.rockstargames.com/ccpa",
  },
];
---

<footer class="space-y-8 w-[80%] mx-auto py-8">
  <section class="flex flex-col md:flex-row gap-4 md:gap-16">
    {
      sections.map((section) => {
        return (
          <section class="space-y-1">
            <header>
              <h1 class="text-xl font-medium">{section.name}</h1>
            </header>
            <main>
              <ul>
                {section.links.map((link) => (
                  <li>
                    <a
                      class="text-gray-600 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-200 transition-all"
                      href={link.url}
                      target="blank"
                      type="noreferrer"
                    >
                      {link.name}
                    </a>
                  </li>
                ))}
              </ul>
            </main>
          </section>
        );
      })
    }
  </section>
  <section class="space-y-6">
    <p class="md:text-center text-gray-600 dark:text-gray-400">
      Rockstar Games, Inc. (C) 2016-2024, FiveM is a copyright and registered
      trademark of Take-Two Interactive Software, Inc. All rights reserved.
    </p>
    <ol class="flex md:flex-row flex-col gap-4 justify-center">
      {
        legal.map((link) => (
          <li>
            <a
              class="underline text-gray-400 dark:text-gray-200"
              href={link.url}
            >
              {link.name}
            </a>
          </li>
        ))
      }
    </ol>
  </section>
</footer>
